---
import Base from "./Base.astro";
import Date from "../components/Date.astro";

export interface Props {
  title: string;
  posts: Array<any>;
}

const { title, posts } = Astro.props;
---

<Base title={title}>
  <main class="layout">
    {title && title.length > 0 && <h1 class="layout_title">{title}</h1>}
    <ul class="layout_list">
      {
        posts.map(({ frontmatter }) => (
          <li class="layout_list_item">
            <a
              href={`/archives/${frontmatter.slug}/`}
              class="layout_list_item_inner"
            >
              <h2
                class="layout_list_item_title"
                style={`view-transition-name: post_title_${frontmatter.slug}`}
              >
                {frontmatter.title}
              </h2>
              <div class="layout_list_item_summary">
                {frontmatter.description}
              </div>
              <div class="layout_list_item_meta">
                <Date date={frontmatter.date} /> / {frontmatter.categories}
              </div>
            </a>
          </li>
        ))
      }
    </ul>
  </main>
</Base>

<style>
  @view-transition {
    navigation: auto;
  }
  .layout {
    max-width: var(--max-width);
    margin: 0 auto 48px;
    padding: 0 12px;
  }
  .layout_title {
    color: var(--secondary-text-color);
    font-size: 24px;
    margin: 12px 0 12px 12px;
  }
  .layout_list {
    list-style: none;
  }
  .layout_list_item_inner {
    display: block;
    padding: 12px;
    border-radius: 8px;
  }
  .layout_list_item_inner:hover {
    background: var(--secondary-background-color);
  }
  .layout_list_item_title {
    margin-bottom: 4px;
    color: var(--primary-text-color);
    font-size: 20px;
    width: fit-content; /* view transition tips */
  }
  .layout_list_item_summary {
    display: -webkit-box;
    margin-bottom: 4px;
    color: var(--secondary-text-color);
    font-size: 14px;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .layout_list_item_meta {
    color: var(--secondary-text-color);
    font-size: 14px;
    font-family: var(--mono-font-family);
  }
</style>
